<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
    <meta charset="UTF-8">
    <title>五子棋</title>
    <!-- css -->
    <style type="text/css">
     #container {
        width: 531px;
        height: 645px;
        margin: 0 auto;
        border: 1px solid blue;
        background:url(static/qipan.jpg) no-repeat;
        padding-top: 0px;
        padding-left: 5px;
        }
       td{
        width: 40px;
        height:33px;
        }
    table{      
        border-collapse: collapse;
        width: 525px;
        height: 465px;
    }
    </style>
    <!-- css ends -->    
    <!-- script -->
    <script type="text/javascript" src="static/jquery.js"></script>
    <script src="static/wuzi.js"></script>
    <!-- script ends -->
</head>
<!-- Head Ends -->
<!-- Body -->
<body>
   <!-- Container -->
    <div id="container">
    <!-- table model -->
    <table id="chessboard">
    </table>

   <!-- 控件模块 -->
   <br>
   <div>
   <p>&nbsp;当前棋手：
   <img id="qizi" src="static/black.png">
   <input type="button" value="黑棋先行" onclick="status1()">
   <input type="button" value="白棋先行" onclick="status2()">
   <input type="button" value="再来一局" onclick="window.location.href=window.location">
   <input type="button" value="退出游戏" onclick="closeFunction()">
   </p>
   </div>
  </div>
    <!-- Container Ends -->
</body>
<!-- Body Ends -->
</html>
